h1{
    color: black;
    text-align: center;
    margin-top: -21px;
    margin-bottom: 26px;
}
p{
    text-align: center;
}

input[type=checkbox]{
    margin-top: 22px;
}
input[name=name]{
    width: 60%;
    height: 5%;
    margin-top: -20px;
    margin-left: 118px;
}
input[name=phoneNo]{
    width: 60%;
    height: 5%;
    margin-top: 15px;
    margin-right: 16px;
}
input[name=address]{
    width: 60%;
    height: 5%;
    margin-top: 15px;
}
input[name=email]{
    width: 60%;
    height: 5%;
    margin-top: 15px;
    margin-right: 16px;
}
input[name=uname]{
    width: 60%;
    height: 5%;
    margin-top: 15px;
    margin-right: 16px;
}
input[name=psw]{
    width: 60%;
    height: 5%;
    margin-top: 15px;
    margin-left: 16px;
}

body {
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.container {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

button[type=submit] {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background-color: #328f8a;
    background-image: linear-gradient(45deg,#328f8a,#08ac4b);
    width: 100%;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
  }
  