.navigation{
    background-color: burlywood;
    overflow: hidden;

}

.navbar a {
    float: left;
    color: cornflowerblue;
    text-align: left;
    padding: 0fr;
    text-decoration-color: currentColor;
    font-size: 18px;
}

.navbar a:hover {
    background-color: darkgoldenrod;
    color: darkorchid;
}