<form action="/getupdatevalue" method = 'post'>
  <div class="container">
    <h1>Manage Account</h1>
    <p>Please select the field from below dropdown which you want to edit</p>
    <hr>
    <link rel="stylesheet" href="{{ url_for('static', filename='UpdateAccount.css') }}">
    <div class="dropdown">
      <button class="dropbtn">Select Value to Update
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Name</a>
        <a href="#">Address</a>
        <a href="#">Phone Number</a>
      </div>
    </div> 
  
